.btn-yellow {
    background-color: #f7f89f;
    color: black;
    box-shadow: 1px 2px 4px #888888;
    border-radius: 15px !important;
}

.btn-yellow:hover {
    background-color: #fbfe72;
    color: black;
}

.btn-orange {
    background-color: #FECB01;
    color: black;
    box-shadow: 1px 2px 4px #888888;
    border-radius: 15px !important;
}

.btn-orange:hover {
    background-color: #ffefa9;
    color: black;
}

.btn-green {
    background-color: #406C1C;
    color: white;
    box-shadow: 1px 2px 4px #888888;
    border-radius: 15px !important;
}

    .btn-green:hover {
        background-color: #84ad62;
        color: white;
    }



.text-green-leaf {
    color: #528926 !important;
}


/*AutoComplete flyout */
.autoCompleteContainer ul li {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.autocomplete_completionListElement {
    margin: 0px !important;
    padding: 0px !important;
    background-color: white;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    z-index: 9999 !important;
    width: 408.6px !important;
    text-align: left;
    list-style-type: none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem {
    background-color: #007bff;
    color: white;
    padding: 0 !important;
}

/* AutoComplete item */

.autocomplete_listItem {
    background-color: window;
    color: windowtext;
    padding: 1px !important;
}


.img-carousel {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
